<h1 class="theBlue">Contributors</h1>

<section id="contributors">

  <div class="container d-flex flex ">
  <div class="row contributor1 flex ">
    <div class="col-9 flex">
      <h3>Chris Beard</h3>
    </div>
    <div class="col-4 flex ">
      <img class="bd-notification is-primary" src="images/chris.jpg" alt="Chris" width="225px"
          height="250px"><br>
      <p class="bd-notification is-primary has-text-centered flex">
        My GitHub: 
        <a href="https://github.com/cbeard22" target="_blank" rel="noopener noreferrer"> cbeard22</a>
      </p>
    </div>
    <div class="col-6 flex"><h4 class="theGreen">Tasks</h4><br>
    <ul >
      <li>APIs</li>
      <li>Models/Database</li>
      <li>Javascript</li>
    </ul>
    </div>
  </div>
</div>

<div class="container d-flex flex">
  <div class="row contributor flex">
    <div class="col-9 flex">
      <h3>Dillon Smith</h3>
    </div>
    <div class="col-4 flex ">
      <img class="bd-notification is-primary flex" src="/images/dillon.jpg" alt="Dillon" width="210px" height="250px">
      <br>
      <p class="bd-notification is-primary has-text-centered flex">My GitHub: <a href="https://github.com/dillon-smith-us"
      target="_blank" rel="noopener noreferrer">dillon-smith-us</a></p></div>
    <div class="col-6 flex">
      <h4 class="theGreen">Tasks</h4>
      <br>
      <ul>
        <li>Handlebars</li>
        <li>CSS</li>
        <li>Logo Design</li>
      </ul>
      </div>
  </div>
</div>


<div class="container d-flex flex">
  <div class="row contributor flex">
    <div class="col-9 flex"><h3>Elijah Miernicki</h3></div>
    <div class="col-4 flex"> <img class="bd-notification is-primary flex" src="/images/eli.jfif" alt="Eli" width="210px" height="250px">
    <br>
    <p class="bd-notification is-primary has-text-centered flex">My GitHub: <a href="https://github.com/MiernickiElijah"
        target="_blank" rel="noopener noreferrer">MiernickElijah</a></p></div>
    <div class="col-6 flex"><h4 class="theGreen">Tasks</h4><br>
    <ul>
      <li>Node-Mailer</li>
      <li>APIs</li>
      <li>Javascript</li>
    </ul>
    </div>
  </div>
</div>


<div class="container flex">
  <div class="row contributor flex">
    <div class="col-9 flex"><h3>Heather Bjoin</h3></div>
    <div class="col-4 flex"> <img class="bd-notification is-primary" src="/images/heather.jpg" alt="heather" width="225px" height="250px">
    <br>
    <p class="bd-notification is-primary has-text-centered flex">My GitHub: <a href="https://github.com/HeatMarie"
    target="_blank" rel="noopener noreferrer">HeatMarie</a></p>
    </div>
    <div class="col-6 flex"><h4 class="theGreen">Tasks</h4><br>
    <ul>
      <li>CSS/Design and Layout</li>
      <li>APIs</li>
      <li>Javascript</li>
    </ul>
    </div>
  </div>
</div>



    <section id="projectContainer">

      <h1 id="project" class="theBlue">The Project</h1>

      <div id="conceptContainer">
        <h2 class="theOrange">Creation & Concept</h2>
        <p>There are always those times when life seems to get in the way of doing things you actually want to do, you know, like playing games. You play for a little while, and then adulting life takes you away. When you come back to your game you find  that you have no idea where you left off.</p>
        <p>The idea for Pogger's POG(Plan On Gaming) came from this pesky little problem. We wanted to create a place where gamers could store tasks for each of their games so they could quickly get back to what they enjoy without the hassle of trying to remember where they need to begin.</p>

      </div>

      <hr>

      <div>

        <h3 class="theOrange">TECHNOLOGIES</h3>
        <ul>
          <li>Node.js</li>
          <li>NPM</li>
          <li>Express</li>
          <li>nodemailer</li>
          <li>Handlebars</li>
          <li>Bootstrap</li>
        </ul>


      </div>

      <hr class="theGreen">


      <div id="futureContainer">
        <h2 class="theOrange">Future Advancements</h2>

        <ul>
        <li>Ability to search games and tasks.</li>
        <li>Task cross off feature.</li>
        <li>Task completion progress bar.</li>
        <li>Shareable features for social medias.</li>
        <li>Achievement system.</li>
        <li>Moving away from being purely a gaming manager.</li>
      </ul>


      </div>
    </section>




<div class="row mb-4 contributors">
  <div class="col-md-5">
      
        <h3>Contact us</h3>
      <ul>
          <li><a href="https://github.com/cbeard22">Chris Beard</a></li>
          <li><a href="https://github.com/dillon-smith-us">Dillon Smith</a></li>
          <li><a href="https://github.com/MiernickiElijah">Elijah Miernicki</a></li>
          <li><a href="https://github.com/HeatMarie">Heather Bjoin</a></li>
      </ul>
  </div>
</div>