
<div class="row mt-4">
  <div class="col-md-6">
    <h1>Game: {{title}}</h1>
    <br>
    <h3>Add Task</h3>

    <form class="form task-form" id="task-form">
      
      <div class="form-group">
        <label for="task">Task Title:</label>
        <input class="form-input" type="text" id="task-desc" name="task_desc" />
        <p>Task Description</p>
        <textarea name="task_content" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-primary" id="taskSubmit">Add</button>
      </div>
    </form>
  </div>

  {{#if tasks.length}}
  <div class="col-md-6 task-list">
    <h3>Current Tasks:</h3>

    {{#each tasks as |task|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tasks/{{task.id}}">{{task.task_content}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger task-delete" data-id="{{task.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/add-task.js"></script>